@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1b1b1b;
}
h3 {
  position: relative;
  font-size: 24px;
  color: #999;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}